* {
	box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
background-color: #232323;
color: #ffffff;

}
.top-panel {
	height: 78px;
	background-color: #262626;
	color: #f8f8f8;
}
.container {
	max-width: 1060px;
	margin: 0 auto;
}
.top-panel-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
	}

.top-panel-adv {
	font-size: 12px;
	font-weight: 500;
}

.user-menu a {
	margin-left: 25px;
}

.header {
	padding-top: 40px;
	height: 760px;
	background-color: #b2b2b2;
	background-image: url('img/harley-davidson-1Lg7p5hC2pI-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.header-nav-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Teko";
	font-weight: 600;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}

.header-nav {
	margin-top: -30px;
	margin-left: 15px;
	width: 485px;
	display: flex;
	justify-content: space-between;
position: relative;

}

.header-nav-link {
	text-decoration: none;
	color: #404040;
	transition: 0.2s;
	position: relative;
}

.header-nav-link:hover, .header-nav-link-active {
    color: #004cff;
}

.header-nav-link::after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #004cff;
	position: absolute;
	margin-left:22px ;
	top: 9px;
	transform: rotate(45deg);
}

.header-nav a::after {
	pointer-events: none;
}


.header-nav-link:last-child::after {
  display: none;
}

.header-btn {
	margin-top: -25px;
	text-decoration: none;
	color: #ffffff;
	background-color: #004cff;
	padding: 20px 38px;
	transition: 0.2s ease-out;

}

.header-btn:hover {
	background-color: #0a3fbb;
}

.header-promo {
	max-width: 400px;
	color: #ffffff;
	margin-top: 140px;
}

.header-promo h1 {
	font-family: "Teko";
	font-weight: 700;
    margin-bottom: 74px;
    font-size: 68px;
    line-height: 72px;
    letter-spacing: 0.03em;
    

}
.header-promo-btn {
	position: relative;
	text-decoration: none;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
    border: 6px solid #ffffff;
    padding: 15px 40px;
    transition: 0.2s
    ;
}

.header-promo-btn:hover{
	color: #0d389c;
	border-color: #0d389c;
}

.container-wide {
	max-width: 1350px;
	margin: 0 auto;
}
.promo {
	padding-top: 24px;
	padding-bottom: 60px;
}

.banner {
	position: relative;
	width: 420px;
	height: 400px;
	margin: 22px;
}

.banner-wide {
	width: 890px;
}

.banner-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.banner-content {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 76, 255, 0.75);
	opacity: 0;
	transition: opacity 0.2s ease-in;
	font-family: "Teko", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-align: left;
}

.banner-content:hover {
	opacity: 1;
}

.promo-row {
	display: flex;
	justify-content: space-between;
}

.banner-content-title {
  position: absolute;
  top: 90px;
  left: 135px;
  width: 400px;
  font-size: 68px;
  line-height: 61px;
  font-weight: 500;
  letter-spacing: 2.73px;
}


.banner-content-discount {
  position: absolute;
  font-size: 78px;
  line-height: 70.5px;
  font-weight: 700;
  width: 150px;
  right: 68px;
  bottom: 60px;
}

.banner-content-discount span {
  font-size: 43px;
  line-height: 1.5;
  font-weight: 500;
}

.products {
 padding-top: 35px;
 padding-bottom: 65px;
}

.products-title {
  font-size: 53px;
  font-family: "Teko", sans-serif;
  color: #f1f1f1;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products-list-item {
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  margin-right: 45px;
  transition: .2s ease;
}

.products-list-item:last-child {
	margin-right: 0;
}

.products-list-item--active, .products-list-item:hover {
	color: #0077ff;

}

.products-list {
	display: flex;
	justify-content: center;
	border-bottom: 1.5px solid #b2b2b2;
	width: 1055px;
	padding-bottom: 45px;
    margin-bottom: 75px;
}

.products-row {
	display: flex;
	justify-content: space-between;
}
.product-card {
	background-color: #ffffff;
	width: 340px;
	text-align: center;
	font-family:"Montserrat", sans-serif;
	text-decoration: none;
}

.product-card_img {
  min-height: 380px;
}

.product-card_title {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #262626;
	font-weight: 600;
    font-size: 21px;
    line-height: 25px;
}

.product-card_price {
	color: #004cff;
	font-size: 30px;
	line-height: 38px;
	font-weight: 700;
	margin-bottom: 25px;
}


.bottom-banner {
	padding-top: 50px;
}
.bottom-banner_row {
	display: flex;
	justify-content: space-between;
}

.banner-medium {
 position: relative;
 width: 530px;
 height: 488px;
}

.banner-large {
  position: relative;
  width: 777px;
  height: 488px;
}

.banner-bottom-discount {
 position: absolute;
 color: #262626;
 font-family:"Teko", sans-serif;
 font-weight: 700;
 font-size: 94.5px;
 line-height: 85.5px;
 width: 175px;
 text-align: left;
 bottom: 175px;
 right: 175px;
}

.banner-bottom-discount span {
font-weight: 500;
font-size: 52px;
line-height: 1.5;
}

.subscribe {
	position: relative;
 margin-top: 25px;
 height: 550px;
 width: 97%;
 margin-left: auto;
 margin-right: auto;
 }

.subscribe img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.subscribe-content {
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subscribe-title {
 font-family:"Teko", sans-serif;
 font-weight: 700;
 color: #ffffff;
 font-size: 97px;
 line-height: 1.3;
 margin-bottom: 60px;
}

.subscribe_form {
  display: flex;
  width: 900px;
}

.subscribe_input {
 height: 62px;
 font-family: "Montserrat", sans-serif;
 border: none;
 padding: 0;
 color: #707070;
 font-size: 19px;
 font-weight: 500;
 padding: 0 44px;
 flex-grow: 2;
}

.subscribe_btn {
width: 180px;
height: 62px;
background-color: #004cff;
color: #ffffff;
border: none;
font-weight: 600;
text-transform: uppercase;
font-size: 19px;
cursor: pointer;
transition: .2s ease;
flex-shrink: 0;
}

.subscribe_btn:hover {
	background-color: #3471ff;
}

.services {
	margin-top: 105px;
	margin-bottom: 105px;
}

.services-row {
	display: flex;
	justify-content: space-between;
}

.service {
	display: flex;
	justify-content: space-between;
	width: 32%;
	background-color: #ffffff;
	border:3px solid #707070;
	padding: 25px 20px 20px 30px;
	text-decoration: none;
}


.service-description {
 padding-left: 35px;
 text-align: left;
 font-weight: 700;

}

.service-title {
	margin: 0;
	margin-bottom: 10px;
	min-height: 36px;
	color: #262626;
	font-size: 13px;
	line-height: 19px;
}

.service-text {
	width: 144px;
	color: #707070;
	font-size: 10.5px;
	line-height: 16.5px;
}

.gallery {
	display: flex;
    margin-bottom: 115px;
}

.gallery-item {
	position: relative;
	width: calc(100% / 3);
	height: auto;

}


.gallery-item img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: center;
}


.footer {
	color: #ffffff;
	text-align: left;
}

.footer a {
	text-decoration: none;
	color: #ffffff;
}

.footer_row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}

.footer_column {
	max-width: 290px;
}


.footer-title {
margin: 0;
margin-bottom: 30px;
font-weight: 600;
font-size: 25px;
line-height: 30px;
}

.footer-text {
font-weight: 400;
font-size: 19px;
line-height: 34px;
}

.footer-list {
 margin: 0;
 padding: 0;
 list-style: none;
 font-size: 19px;
 line-height: 1;
}

.footer-list_item {
margin-bottom: 23px;
}

.footer-logo {
	margin-bottom: 47px;
}

.footer-cards {
	width: 250px;
	display: flex;
	justify-content: space-between;
}

.socials {
 display: flex;
 justify-content: space-between;
 width: 250px;
}

.social-icon {
  width: 50px;
  height:50px;
  background-color: #004cff;
  color: #ffffff;
  border-radius: 50%;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
	max-width: 96%;
	padding-top: 50px;
	padding-bottom: 60px;
	border-top: 1px solid #8c8c8c;
	margin-left: auto;
	margin-right: auto;
	color: #b2b2b2;
	font-size: 19px;
	line-height: 32px;
	font-weight: 600;
}

.copyright a {
	color: #b2b2b2;
}
.copyright-links {
	display: flex;
	margin: 0;
	padding: 0;
}

.links-item {
	margin-right: 44px;

}

.copyright-row {
  display: flex;
  justify-content: space-between;
}

